/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: Verdana, system-ui, sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

input {
  appearance: none;
}

/* Logo font */
@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
  display: flex;
  min-width: 100vw;
  max-height: 100vh;
}

.bg-image-container {
  flex: 0 0 auto;
  height: 100vh;
  width: min(600px, 40vw);
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: auto 100vh;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

div .logo-container {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0px;
}

.logo {
  height: 7em;
}

.logo + p {
  font-family: "Norse", system-ui, sans-serif;
  color: white;
  font-size: 6.5em;
}

.bg-image-container > p,
.bg-image-container a {
  color: white;
  text-align: center;
  font-size: 0.9em;
}

.head-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 60px;
}

.head-text-container > p {
  margin-bottom: 20px;
  max-width: 40em;
}

.disclaimer {
  font-weight: 200;
  font-size: 0.6em;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-section {
  padding-top: 20px;
  padding-left: 60px;
}

.button-section {
  padding-left: 60px;
}

.form-row {
  display: flex;
}

.form-row:last-child {
  margin-bottom: 10px;
}


.form-content {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin-bottom: 30px;
}

.input-section > p:first-child {
  font-weight: bold;
  font-size: 2em;
}

.input-section > p:nth-child(2) {
  margin-bottom: 20px;
}

.input-section {
  position: relative;
  color: rgb(61, 61, 61);
  box-shadow: 0px 5px 5px rgb(182, 182, 182);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 20em;
  border: 2px solid #c7c7c7;
  border-radius: 5px;
  outline: none;
}

input[type="password"]:invalid {
  border: 2px solid rgb(223, 0, 0);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
  border: 2px solid rgb(30, 191, 255);
}

.head-text-container,
.button-section {
  background-color: rgb(235, 233, 233);
  flex: 1;
}

.button-section > * {
  margin-top: 40px;
}

.button-section > button {
  padding: 10px 50px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  background-color: #596D48;
  position: relative;
  box-shadow: 2px 5px 5px rgb(182, 182, 182);
}

.button-section a {
  text-decoration: none;
  font-weight: bold;
  color: #596D48;
}

button:hover {
  outline: 2px solid black;
}

button:active {
  padding-top: 12px;
  padding-bottom: 8px;
}

.button-section a:hover {
  text-decoration: underline;
}

